USE [hapis]
GO
/****** Object:  Table [dbo].[ceza_bilgisi]    Script Date: 4.01.2018 12:32:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ceza_bilgisi](
	[dosya_no] [char](10) NOT NULL,
	[ceza_suresi] [varchar](50) NULL,
	[ceza_baslangic] [smalldatetime] NULL,
	[ceza_bitis] [smalldatetime] NULL,
	[profil_resmi] [image] NULL,
 CONSTRAINT [PK_ceza_bilgisi] PRIMARY KEY CLUSTERED 
(
	[dosya_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
